.forgot_password_div{
    /* border: 2px solid red; */
    height: 55%;
    width: 50%;
    padding: 30px;
    box-shadow: 0px 1px 40px #b9b6b600 ;
}
.email_div{
    /* border: 2px solid blue; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.input_filed{
    margin-top: -5px;
}
.Next-button{
    /* border: 2px solid blue; */
    border-radius: 10px;
    margin: -10px auto;
    width: 46%;
}
.Next-button button {
    /* border: 2px solid rgb(255, 0, 0); */
    margin: auto;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    color: white;
    font-size: 1rem;
    font-weight: 700px;
    background-color: #1D2F52;
}
.login{
    /* border: 1px solid red; */
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 600px;
    color: rgb(6, 173, 173);
}
.Login_link{
    text-decoration: none;
    color: rgb(0, 133, 133);
    font: 0.8rem;
}
@media screen and (max-width: 399px) {
    .center_div{
        width: 90%;
        height: 60%;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 40px;
    }
    .uppder_div h1{
       font-size: 1.1rem;

    }
    .forgot_password_div{
        /* border: 1px solid blue; */
    }
    .email_div{
        /* border: 1px solid red; */
        width: 80%;
        margin: auto;
    }
    .Next-button{
        /* border: 1px solid red; */
        margin-top: 8%;
    }
    
}